@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using TxFarmDiaryAI.Web.Services
@inject IFileVersionProvider FileVersionProvider
@inject DxThemesService ThemesService

<!DOCTYPE html>
<html lang="en" data-bs-theme="@(ThemesService.IsBootstrapDarkActive ? "dark" : null)" data-fluent-darkmode="@(ThemesService.IsFluentDarkModeActive ? "" : null)">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @DxResourceManager.RegisterTheme(ThemesService.ActiveTheme)
    @DxResourceManager.RegisterScripts()
    <link href="@Assets["css/site.css"]" rel="stylesheet" />
    <link href="@Assets["TxFarmDiaryAI.Web.styles.css"]" rel="stylesheet" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>

@code{
}
